.button {
  width: 230px;
  height: 75px;
  font-family: $button-font, sans-serif;
  background-color: #c3f37f;
  color: #ffffff;
  border: none;
  border-radius: 45px;
  text-transform: uppercase;
  cursor: pointer;
}
