@font-face {
  font-family: "Chunkfive";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Chunkfive.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Light";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Black";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Heavy";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Semibold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Medium";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Medium.otf");
}
