@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/arial.woff2") format("woff2"),
    url("../fonts/arial.woff") format("woff");
}

@font-face {
  font-family: "Arial Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/arialbold.woff2") format("woff2"),
    url("../fonts/arialbold.woff") format("woff");
}
