@mixin clearfix {
  content: "";
  clear: both;
  display: table;
}

@mixin reset-mp {
  margin: 0;
  padding: 0;
}

@mixin font($name: $default-font, $size: 16px, $color: black, $lh: 24px) {
  font-family: $name, "Helvetica", "Arial", sans-serif;
  font-size: $size;
  color: $color;
  line-height: $lh;
}

@mixin reset-list {
  @include reset-mp;
  list-style: none;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin reset-link {
  @include reset-mp;
  color: black;
  text-decoration: none;
}

@mixin border($color: black) {
  border: 1px solid $color;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

@mixin visually-hidden--undo {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title {
  font-family: "Chunkfive", sans-serif;
  font-size: $h2-sz * 0.5;
  letter-spacing: 1px;
  color: $turquoise;
  text-transform: capitalize;
}
