.pagination {

  .pagination__list {
    @include reset-list;
    @include flex-row;
    justify-content: center;
  }

  .pagination__item {
    margin: 5px;
    font-family: "Chunkfive", sans-serif;
    color: $text-color;
  }
}
