$default-font: "Lato Regular";
$bold-font: "Lato Bold";
$brand-font: "Montserrat Regular";
$brand-bfont: "Montserrat Bold";
$menu-font: "Lato Medium";
$menu-bfont: "Lato Heavy";
$button-font: "Lato Black";
$light-font: "Lato Light";

$green-bg: #9bddd8;
$light-green: #29d9c2;
$dark-green: #01a2a6;
$bg-color: #f2fefe;
