$default-font: "Lato Regular";
$bold-font: "Lato Bold";
$brand-font: "Montserrat Regular";
$brand-bfont: "Montserrat Bold";
$menu-font: "Lato Medium";
$menu-bfont: "Lato Heavy";
$button-font: "Lato Black";
$light-font: "Lato Light";

$green-bg: #9bddd8;
$turquoise: #29d9c2;
$dark-turquoise: #01a2a6;
$bg-color: #f2fefe;
$text-color: #777777;

$h1-sz: 80px;
$h2-sz: 60px;
$menu-sz: 16px;
$button-sz: 16px;
$text-sz: 16px;
