.contact {
  padding: 20px 30px;
  max-width: 1440px;
  margin: 0 auto;

  background: linear-gradient(rgba(1, 162, 166, 0.8), rgba(1, 162, 166, 0.8)), url("../img/img-contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-color: rgba(1, 162, 166, 0.5);
}

.contact__header {
  @include center;
}

.contact__title {
  @include title;
  color: #ffffff;
}

.contact__body {
  // padding: 50px 0;
}

.contact__form {
  @include flex-row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.contact__input {
  margin-bottom: 10px;
  flex-basis: 100%;
  height: 40px;
  padding: 8px;
  @include border(#c7c7c7);
  border-radius: 5px;

  &::placeholder {
    font-style: italic;
    color: #b9b9b9;
  }
}

.contact__textarea {
  flex-basis: 100%;
  margin-bottom: 10px;
  padding: 8px;
  resize: none;
  font-family: "Lato Regular";

  &::placeholder {
    font-style: italic;
    color: #b9b9b9;
  }
}

.contact__submit {
  width: 160px;
  height: 65px;
}

.contact__info {
  @include flex-column;
  text-align: center;
  color: #ffffff;
}

.contact__info-title {
  @include reset-mp;
  margin-bottom: 15px;
  font-family: "Lato Light", sans-serif;
  font-size: 24px;
}

.contact__info-span {
  font-size: 12px;
}

@media (min-width: 768px) {
  .contact {
    padding: 50px;
  }

  .contact__title {
    position: relative;
    margin-bottom: 65px;
    font-size: $h2-sz * 0.75;
    line-height: 45px;

    &::after {
      position: absolute;
      content: "OR";
      display: block;
      font-family: "Montserrat Regular";
      font-size: 16px;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .contact__body {
    @include flex-row;
    justify-content: space-between;
  }

  .contact__form {
    flex-basis: 45%;
    justify-content: space-between;
  }

  .contact__info {
    flex-basis: 45%;
    text-align: left;
  }

  .contact__info-title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 32px;
  }

  .contact__info-span {
    font-size: 14px;
  }

  .contact__input,
  .contact__textarea {
    margin-bottom: 20px;
  }

  .contact__submit {
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .contact {

  }

  .contact__input {
    &:nth-child(2),
    &:nth-child(3) {
      flex-basis: 48%;
    }
  }
}

@media (min-width: 1150px) {
  .contact {
    padding: 50px 130px;
  }

  .contact__title {
    margin-bottom: 75px;
    font-size: $h2-sz;
    line-height: 50px;
  }

  .contact__info-title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 36px;
  }
}
