.contact {
  padding: 20px 30px;

  .contact__header {
    @include center;
  }

  .contact__form {
    @include flex-row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact__input {
    margin-bottom: 10px;
    flex-basis: 100%;
  }

  .contact__textarea {
    flex-basis: 100%;
    margin-bottom: 10px;
    resize: none;
  }

  .contact__info {
    @include flex-column;
  }

  .contact__footer {
    @include border;
  }

  .contact__footer-text-wrapper  {
    // margin: 0 auto;
    text-align: center;
  }

  .contact__footer-input-wrapper {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .contact {
    padding: 50px;

    .contact__header {

    }

    .contact__body {
      @include flex-row;
      justify-content: space-between;
    }

    .contact__form {
      flex-basis: 45%;
      justify-content: space-between;
    }

    .contact__info {
      flex-basis: 45%;
    }

    .contact__input {
      margin-bottom: 20px;
    }

    .contact__submit {
      margin-left: auto;
    }
  }
}

@media (min-width: 992px) {
  .contact {
    .contact__input {
      &:nth-child(2),
      &:nth-child(3) {
        flex-basis: 45%;
      }
    }

    .contact__footer {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      padding: 30px 50px;
    }

    .contact__footer-text-wrapper {
      text-align: left;
    }
  }
}
