.footer {
  padding: 20px 30px;

  .footer__list {
    @include reset-list;
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__item {
    margin: 5px;
  }

  .footer__copyright {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    height: 150px;
    background-color: #2f2933;

    .footer__list {

    }

    .footer__copyright {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
