.footer {
  padding: 20px 30px;

  .footer__list {
    @include reset-list;
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__item {
    margin: 5px;
  }

  .footer__copyright {
    text-align: center;
  }
}
